/* PAGE TRANSITION */
div.transition-group {
     height: 100%;
     width: 100%;
}
section.route-section {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.fadeIn-enter {
    transform: translateX(100%);
    z-index: 1
}

.fadeIn-enter.fadeIn-enter-active {
    transform: translateX(0);
    transition: transform 1000ms cubic-bezier(.4,.01,.13,.99);
    z-index: 1

}

.fadeIn-exit {
    transform: translateX(100%);
    transition: transform 1000ms cubic-bezier(.4,.01,.13,.99);
    z-index: 0;

}

.fadeIn-exit.fade-exit-active {
    transform: translateX(-100%);
    transition: transform 1000ms cubic-bezier(.4,.01,.13,.99);
    z-index: 0;

}
